.header-logo {
  height: 50px;
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 10px;
}
.top-wrapper h1 {
  font-size: 65px;
  font-weight:300px;
  color: gold;
  text-align: center;
  margin-top: 180px;
  opacity: 0.7;
}
.top-wrapper p {
  font-size: 30px;
  font-weight:200px;
  color: gold;
  text-align: center;
  opacity: 0.7;
}
.top-wrapper h2{
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
body {
  background-image: url(https://raw.githubusercontent.com/TOM2219/tom.github.io/master/IMG_20190824_160812.jpg);
  height: 800px;
  background-size: cover;
  border: 10px solid black;
  margin: 0 auto;
}
.redcross a img {
  width: 100px;
  border-radius: 300px;
  border: 5px solid red;
}
.btn {
  color: white;
  opacity: 0.8;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}
.experience {
  float: right;
  width: 100%;
  text-align:right;
}
.ibaraki a img {
  width: 100px;
  height: 70px;
  border-radius: 300px;
  border: 5px solid red;
}
.experience-icon {
  display: inline-block;
  margin-right: 20px;
}

