.header-logo {
  height: 50px;
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 10px;
}
.top-wrapper h1 {
  font-size: 80px;
  font-weight:300px;
  color: white;
  margin-left: 20px;
}
.top-wrapper h2{
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
body {
  height: 800px;
  background-size: cover;
  border: 10px solid black;
  margin: 0 auto;
}
.experience-icon img {
  width: 25%;
  border-radius: 100px;
  border: 10px solid red;
  margin: 0 10px;
}
.experiences a {
  color: white;
  font-size: 15px;
  border-bottom: 3px solid white;
  margin-top: 10px;
  margin-left: 70px;
}
.experiences {
  float: left;
  display: inline-block;
}
