header {
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-logo {
  height: 40px;
  color: black;
  font-size: 30px;
  display: inline-block;
  float: left;
  margin: 5px 20px;
}
.header-right img{
  height: 35px;
  width: 35px;
  border-radius: 300px;
  border: 2px solid black;
  margin: 5px 30px;
  display: inline-block;
  float: right;
}
.top-wrapper h1 {
  font-size: 65px;
  font-weight:300px;
  color: gold;
  text-align: center;
  opacity: 0.7;
  padding-top: 280px;
}
.top-wrapper p {
  font-size: 30px;
  font-weight:200px;
  color: gold;
  text-align: center;
  opacity: 0.7;
}
.top-wrapper h2{
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.top-wrapper {
  background-image: url(https://raw.githubusercontent.com/TOM2219/tom.github.io/master/IMG_20190824_160812.jpg);
  height: 800px;
  background-size: cover;
}
.redcross a img {
  width: 100px;
  border-radius: 300px;
  border: 5px solid red;
}
.btn {
  color: white;
  opacity: 0.8;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}
.experience {
  float: right;
  width: 100%;
  text-align:right;
}
.ibaraki a img {
  width: 100px;
  height: 70px;
  border-radius: 300px;
  border: 5px solid red;
}
.experience-icon {
  display: inline-block;
  margin-right: 20px;
}
.nakatu a img {
  height: 70px;
  width: 100px;
  border-radius: 300px;
  border: 5px solid red;
}
.btn-wrapper {
  float: right;
  margin-top: 30px;
  display: inline-block;
}
.fb a img{
  height: 70px;
  width: 70px;
  border-radius: 300px;
  border: 2px solid white;
  margin-right: 30px;
}
.fb {
  display: inline-block;
}
.tw {
  display: inline-block;
}
.tw a img{
  height: 70px;
  width: 70px;
  border-radius: 300px;
  border: 2px solid white;
  margin-right: 30px;
}
/*main
*/
.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img {
  height: 150px;
  width: 150px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  text-align: left;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

/*message*/

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message-wrapper a {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  display: inline-block;
  color: white;
}

/*footer*/

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}


